html{
    box-sizing: border-box;
}
*, *::before, ::after{
    box-sizing:inherit;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--text-color);
}
:root{
    --accent-color: #E43071;
    --text-color:#FFFFFF;
    
}

/* Navigation */

.navigation {
    background-color: var(--accent-color);
}
.nav_menu {
    display: flex;
    justify-content: space-evenly;
    padding: 31px 0;
}

.nav_flex-menu{
    display: flex;
    list-style-type: none;
    
}


.nav_list {
    display: flex;
    list-style-type: none;
}

.nav_list >li{
    padding-right: 31px;
    margin-top: 10px;
    margin-left: 31px;
    
}
.nav_list >li:last-child{
    padding-right: 0;
    margin-top: 7.5px; 
   
}


.nav_login>button{
    border-radius: 200px;
    width: 166px;
    height: 50px;
    color: var(--accent-color);
    border-color: var(--text-color);
}

li>a{
    text-decoration: none;
}