html{
    box-sizing: border-box;
}
*, *::before, ::after{
    box-sizing:inherit;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--text-color);
}
:root{
    --accent-color: #E43071;
    --text-color:#FFFFFF;
    
}

/* Navigation */

.navigation {
    background-color: var(--accent-color);
}
.nav_common {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.nav_li {
    display: flex;
    list-style-type:  none;
 
}
.nav_li > li{
    padding-right: 76px;
}

